---
layout: default
---
<!-- Hux Blog page grid adapted for DZPMX's existing homepage content and social icons. -->
{% include intro-header.html type='page' %}
<div class="container">
  <div class="row">
    <section class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container" id="articles" aria-label="Articles">
      {% for post in site.posts %}
      <div class="post-preview">
        <a href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
          <div class="post-content-preview">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 200 | escape }}</div>
        </a>
        <p class="post-meta">Posted by {{ post.author | default: site.author | escape }} on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %-d, %Y' }}</time></p>
      </div>
      <hr>
      {% endfor %}
    </section>
    <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar-container" aria-label="Sidebar">
      {% include featured-tags.html %}
      <section class="visible-md visible-lg">
        <hr>
        <h5>ABOUT ME</h5>
        <div class="short-about">
          <a href="https://github.com/{{ site.github_username | escape }}" aria-label="Visit DZPMX on GitHub">
            <img src="https://github.com/{{ site.github_username | escape }}.png?size=320" alt="DZPMX" width="180" height="180" loading="lazy">
          </a>
          <p>{{ site.author | escape }}</p>
          <nav class="social-links" aria-label="Social links">{% include social-links.html %}</nav>
        </div>
      </section>
    </aside>
  </div>
</div>
